:root{
    
}


header{
    background-color: rgba(0, 255, 255, 0.165);
    display: flex;
    border: solid;
    border-radius: 10px;
}
#nav-element{
    display: flex;
}

#website-logo{
    padding-right: 75em;
}


